**/__pycache__/
*.iml
*.xml
.DS_Store
*.png
*.json
*.0
*.yaml
*.yaml
*.pth
*.txt
output/exp_city/last_checkpoint
*.jpg
*.lock
*.yaml
configs/faster_rcnn_VGG_cross_city.yaml
datasets/bdd100k.zip
*.zip
*.log
*.wandb
